.days{
  vertical-align:center;
  border: 2px white solid;
  color:black;
  background-color:#FFFFCC;
  height:75px;
}

body{
  background-color: #EBEBEB;
}
.month{
  text-align:center;
  background-color:EEEEEE;
}

.weekday{
  background-color: lavender;
  border:2px white solid;
  height:40px;
}
.empty{
  background-color: #EBEBEB
}
