{% extends 'master.html' %}
{% block body %}
<h1 class="maintext">Would you like some advice to help you through shark week?</h1>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#eat">What should I eat?</a></li>
  <li><a data-toggle="tab" href="#do">What should I do?</a></li>
  <li><a data-toggle="tab" href="#mood">I'm in a bad mood.</a></li>
</ul>

<div class="tab-content">
  <div id="eat" class="tab-pane fade in active">
    <h3 class="maintext"><b>Things you SHOULDN'T consume</b></h3>
    <ul>
      <li><font size="4">Dairy</font></li>
      <li><font size="4">Sugary Foods</font></li>
      <li><font size="4">Salty Foods</font></li>
      <li><font size="4">Caffeine</font></li>
      <li><font size="4">Fatty Red Meats</font></li>
      <li><font size="4">Cold Foods</font></li>
    </ul>
    <h3 class="maintext"><b>Things you SHOULD consume</b></h3>
    <ul>
      <li><font size="4">Water</font></li>
      <p><i>Prevents acne, keeps away cramps, helps with bloating.</i></p>
      <li><font size="4">Calcium</font></li>
      <p><i>Helps with cramps.</i></p>
      <li><font size="4">Dark chocolate</font></li>
      <p><i>Satisfies cravings, relaxes muscles, happier. Less fat and does not contain dairy like other chocolates.</i></p>
      <li><font size="4">Celery</font></li>
      <p><i>Celery is filled with water and has close to no calories.</i></p>
      <li><font size="4">Hummus</font></li>
      <p><i>A great source of protein, the chickpeas used to make it helps with sleep and improves your mood.</i></p>
      <li><font size="4">Pineapple</font></li>
      <p><i>Pineapple helps your muscles relax, boosts your mood, and relieves bloating.</i></p>
      <li><font size="4">Non-Caffeinated Tea</font></li>
      <p><i>Green tea helps with cramps. White peppermint tea soothes an upset stomach.</i></p>
      <li><font size="4">Leafy Green Vegetables</font></li>
      <p><i>Leafy green vegetables such as spinach are high in vitamins and minerals. Those high in calcium can greatly help with cramps.</i></p>
      <li><font size="4">Salmon</font></li>
      <p><i>Packed full with healthy fats, eating salmon prior to getting your period can help reduce the symptoms of PMS such as cramping and bloating.</i></p>
    </ul>
    <hr>
  </div>
  <div id="do" class="tab-pane fade">
    <h3 class="maintext"><b>Things you SHOULD do</b></h3>
    <ul>
      <li><font size="4">Exercise</font></li>
      <p><i>The best form of exercise for relieving menstrual pain is aerobic exercise. Exercise in general releases happy hormones into the body that make you happier and counters the cramp causing chemicals released during your period. Getting your blood pumping through your body helps relieve cramps.</i></p>
      <li><font size="4">Warm Up</font></li>
      <p><i>Taking a hot shower or bath can help relax your muscles. Heat helps open blood vessels and improves blood flow through your body to relieve menstrual cramps.</i></p>
      <li><font size="4">Rest</font></li>
      <p><i>If possible, be sure to get some rest. Bleeding from your uterus is exhausting.</i></p>
    </ul>
  </div>
  <div id="mood" class="tab-pane fade">
    <hr>
    <iframe class = "center-block" width="560" height="315" src="https://www.youtube.com/embed/tntOCGkgt98" frameborder="0" allowfullscreen></iframe>
    <h3 class = "text-center">Hope you feel better! :)</h3>
  </div>
</div>
{% endblock %}
